<input class="action" type="button" name="show" value="Play"
       onclick="play_media(<%= @sounds %>,<%= @images %>,<%= @bg_sound %>)" />
(If sound fails, try refreshing and clicking Play. Sound buffer can be temperamental.)
<div class="display"></div>